.custom-row:nth-child(even) {
  background-color: #e8f1ff;
}

.custom-row:nth-child(odd) {
  background-color: #ffffff;
}

.custom-row:hover {
  background-color: #cce4ff;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}
